@model List<Emprestimo>
@{
    ViewData["Title"] = "Listagem de Empréstimos";
    int FiltroP = Int32.Parse( ViewData["usuarioP"].ToString());
    int pAtual = Int32.Parse(ViewData["pAtual"].ToString());
    
    int NumUserP = (Model.Count<FiltroP ?  Model.Count : FiltroP);
    int NumTotalP;
    @if(Model.Count != 0){
     NumTotalP = Model.Count/NumUserP + (Model.Count%NumUserP == 0 ? 0 : 1);
    }else
    {
        NumTotalP =1;
    }
    string Classe = "";
}

<div class="row">
    <div class="col-md-12">
    <form class="form-inline" method="POST">
        <div class="form-group mb-2">
            <select name="TipoFiltro" class="form-control">
                <option value="Usuario">Usuário</option>
                <option value="Livro">Livro</option>
            </select>
        </div>
        <div class="form-group mb-2 mx-sm-3">
            <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
        
    </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if(Model.Count != 0){
        <table class="table table-striped"> 
            <thead>
                <tr><th>Id</th>
                <th>Usuario</th>
                <th>Data Empréstimo</th>
                <th>Data Devolução</th>
                <th>Livro</th>
                <th>Autor</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                   @for(int i = (pAtual-1)*NumUserP; i<(NumUserP*pAtual<Model.Count?NumUserP*pAtual:Model.Count); i++)
                {
                    @if((System.DateTime.Compare(System.DateTime.Now, @Model[i].DataDevolucao)>0))
                    {
                        Classe = "text-danger";
                    }else{
                        Classe="";
                    }
                <tr class="@Classe">
                    <td>@Model[i].Id</td>
                    <td>@Model[i].NomeUsuario</td>
                    <td>@Model[i].DataEmprestimo.ToString("dd/MM/yyyy")</td>
                    <td>@Model[i].DataDevolucao.ToString("dd/MM/yyyy")</td>
                    <td>@Model[i].Livro.Titulo</td>
                    <td>@Model[i].Livro.Autor</td>
                    <td><a href="/Emprestimo/Edicao/@Model[i].Id">Editar</a></td>
                </tr>
                }
            </tbody>
        </table>
        }else{
            <span>Nenhum registro encontrado</span>
        }
       <div class="pag">
            <ul class="pagination">
                 <li class="page-item"><a class="page-link">Página</a></li>
             @for(int i=1; i<=NumTotalP; i++) 
            {
               
                <li class="page-item"><a class="page-link" href="/Emprestimo/Listagem?pAtual=@i">@i</a></li>
            }
            </ul>
            </div>
    </div>
</div>